.warning-text{
    max-width: 800px;
    padding: 10px 20px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-color: #0c0246;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    background-color: #0c072b;
}

.button-si {
    background-color: #0c2e02;
}

.button-si:hover {
    background-color: #164e04;
}

.button-volver {
    background-color: #36020e;
}

.button-volver:hover {
    background-color: #4e0416;
}